/* Navigation bar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; /* Make the navigation bar black */
  color: white;
  font-family: "Helvetica", sans-serif; /* Use Helvetica */
  padding: 20px;
  height: 50px; /* Make the navigation bar taller */
  position: fixed; /* Make the navigation bar fixed */
  top: 0; /* Set the top position to 0 */
  left: 0; /* Set the left position to 0 */
  right: 0; /* Set the right position to 0 */
  z-index: 10; /* Set the z-index to 10 to make sure it is above other elements */
}

/* Navigation bar links */
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

/* Home page section style */
#home {
  padding-top: 50px; /* Add top padding to push the section down below the navigation bar */
}

/* Home page section style */
#home {
  height: 800px; /* Increase the height of the home section */
  padding-top: 100px; /* Add top padding to push the section down below the navigation bar */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Personal Works page section style */
#works {
  height: 800px; /* Increase the height of the personal works section */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About Me page section style */
#about {
  height: 800px; /* Increase the height of the about me section */
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Active link */
.navbar a.active {
  color: #4caf50;
}

/* Your name on the left side of the navigation bar */
.navbar .name {
  margin-left: 20px;
  font-size: 20px;
}

/* Highlight links on hover */
.navbar a:hover {
  background-color: #4caf50; /* Change the background color on hover */
}

/* Page content style */
.content {
  margin: 20px;
  text-align: center;
}

/* Footer style */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Footer links */
footer a {
  display: block;
}

/* Footer images */
footer img {
  width: 40px; /* Set the width of the images */
  height: 40px; /* Set the height of the images */
  margin-right: 20px; /* Add some space between the images */
}

section {
  border-top: 1px solid #ccc; /* Add a 1px solid gray top border */
  border-bottom: 1px solid #ccc; /* Add a 1px solid gray bottom border */
}